.form-signin {
    max-width: 600px;
    padding: 1rem;
    margin-top: 25%;
}

.form-signin input[id="nameInput"] {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: -1px;
}

.form-invalid input[id="nameInput"] {
    border-left-color: var(--bs-form-invalid-color);
    border-top-color: var(--bs-form-invalid-color);
    border-right-color: var(--bs-form-invalid-color);
}

.form-signin input[id="passwdInput"] {
    border-top-left-radius: 0px;
    margin-top: -1px;
}

.form-signin span {
    border-top-right-radius: 0px;
    margin-top: -1px;
    cursor: pointer;
}

.form-invalid input[id="passwdInput"] {
    border-left-color: var(--bs-form-invalid-color);
    border-bottom-color: var(--bs-form-invalid-color);
}

.form-invalid span {
    border-bottom-color: var(--bs-form-invalid-color);
    border-right-color: var(--bs-form-invalid-color);
}